@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: #27ae60;

	font-family: 'Baloo Paaji 2', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-background {
  background-image: url('https://cdn.jewishboston.com/uploads/2019/08/iStock-1059779962-729x486.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-login-container {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #ffffff;
}

.Nav-buttons {
  height: 95%;
  margin-right: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
