[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target

[Service]
User={{ ansible_ssh_user }}
Group=www-data
WorkingDirectory=/home/{{ ansible_ssh_user }}/{{ app_name }}
EnvironmentFile=/etc/environment
Environment="PATH=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin"
ExecStart=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8080 \
          -m 007 {{ wsgi_path }}:application \
          --error-logfile {{ gunicorn_error_log }} \
          --log-file {{ gunicorn_access_log }} \
          --log-level DEBUG \

[Install]
WantedBy=multi-user.target
