server {
    server_name {{ hostname }};
    index index.html;
    
    ## React
    location / {
        root {{ nginx_build_path }}; #(path to JS build)
        try_files $uri /index.html;
    }

    ## Flask
    location /api/ {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000/api/;  #(MUST REMAIN 8000)
        
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    ## Reduce log clutter
    location = /favicon.ico {
        return 204;  #(no content)
        access_log     off;
        log_not_found  off;
    }
    
    add_header Access-Control-Allow-Origin *;
    add_header Cache-Control no-cache; #(no cache for testing reasons, disable for final build)

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = {{ hostname }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = www.{{ hostname }}) {
	return 301 https://$host$request_uri;
    }

    listen 80;
    server_name {{ hostname }};
    return 404; # managed by Certbot


}
