server {
    listen 80;

    # Allow CORS bypassing
    location ~* \.(eot|ttf|woff|woff2)$ {
        add_header Access-Control-Allow-Origin *;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{ ansible_ssh_user }}/{{ app_name }}/{{ app_name }}.sock;
        add_header Access-Control-Allow-Origin *;
    }
}
