[Unit]
Description=Gunicorn instance to serve farmaheadapi
After=network.target

[Service]
User=brett
Group=www-data
WorkingDirectory=/home/brett/dev/codebuffalo/farmaheadapi
EnvironmentFile=/home/brett/dev/codebuffalo/farmaheadapi/environment
Environment="PATH=/home/brett/dev/codebuffalo/farmaheadapi/env/bin"
ExecStart=/home/brett/dev/codebuffalo/farmaheadapi/env/bin/gunicorn \
          --workers 3 \
          --bind unix:farmaheadapi.sock \
          -m 007 farmahead.core.wsgi:application \
          --error-logfile gunicorn-access.log \
          --log-file gunicorn-error.log \
          --log-level DEBUG \

[Install]
WantedBy=multi-user.target
